.vs/
Business/bin/
Business/obj/
Common/bin/
Common/obj/
Data/bin/
Data/obj/
Entity/bin/
Entity/obj/
GUGFramework/bin/
GUGFramework/obj/
Model/bin/
Model/obj/
packages/
*.user
*.pubxml
GUGFramework/GUGFramework.csproj.user
